<input type="checkbox" id="bt_menu" />
<section class="page-header">
  <label for="bt_menu">&#9776;</label>
  <nav>
    {{ $current := . }} {{ range .Site.Menus.nav }} {{ $active := or
    ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }} {{
    $active = or $active (eq .Name $current.Title) }} {{ $active = or $active
    (and (eq .Name "Blog") (eq $current.Section "post")) }} {{ $active = or
    $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
    <a href="{{ .URL }}" class="btn">{{ .Name }}</a>
    {{ end }}
  </nav>
  <figure>
    <a href="{{$.Site.BaseURL}}">
      <img
        src="{{ .Site.Params.logos.logoPeriodicoEmNuvens }}"
        alt="Periódicos em nuvens"
      />
    </a>
  </figure>
</section>
