
<div id="planTable">
  <table>
    <colgroup> <col /> <col width="140" /> <col width="140" /></colgroup> <tr>
      <td style="text-align: left; background-color: #d6d6d6; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        <strong>Serviço</strong>
      </td>
      
      <td style="text-align: left; background-color: #d6d6d6; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        <strong>Valor</strong>
      </td>
      
      <td style="text-align: left; background-color: #d6d6d6; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        <strong>Cobrança</strong>
      </td>
    </tr>
    
    <tr>
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Básico</p> 
        
        <ul style="font-size: 10pt;">
          <li>
            Até 1 gigabyte de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        R$ 120,00
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Mensal
      </td>
    </tr>
    
    <tr>
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Médio</p> 
        
        <ul style="font-size: 10pt;">
          <li>
            Até 3 gigabytes de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        R$ 180,00
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Mensal
      </td>
    </tr>
    
    <tr>
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Grande</p> 
        
        <ul style="font-size: 10pt;">
          <li>
            Até 6 gigabytes de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        R$ 250,00
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Mensal
      </td>
    </tr>
    
    <tr>
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        Personalizado</p> 
        
        <ul style="font-size: 10pt;">
          <li>
            Caso os planos acima não atendam suas necessidades <a title="Solicitar Orçamento" href="/solicitar-orcamento/">solicite um orçamento</a> descrevendo suas necessidades
          </li>
        </ul>
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        A combinar
      </td>
      
      <td style="text-align: left; border-width: 1px; border-color: #000000; border-style: solid; padding: 2px;">
        &#8211;
      </td>
    </tr>
  </table>

</div>
